<!DOCTYPE html>

<html>
	<head>
		<title> Home. </title>

		<link rel="stylesheet" type="text/css" href="home_css.css">
	</head>

	<body>
<div class="contenedor" style="height:100vh; position:relative;">


		<div id="div2" style="margin:0; position:absolute; top:50%; transform: translateY(-50%); width:100%;">
			<h1> Demo De Phishing </h1><hr><br>


			<form action="/signin" method="get">
			<input type="submit" value="Iniciar" id="sub2">
			</form>
			<br><br>
		</div>
		</div>
	</body>
</html>
