<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="success_style.css">
		<title> ¡Peligro! </title>
	</head>

	<body>
		<div id="confirmed">
			<h1> ¡Peligro! </h1>
			<p> <%= data.fname %> <%= data.lname %>  ¡tus datos Han sido robados! </p>
			<form action="/">
				<input type="submit" value="Regresar">
			</form>
		</div>

	</body>
</html>
